<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-toolbar>

      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select  ok-text="Selecionar" cancel-text="Cancelar" [(ngModel)]="userForm.category">
          <ion-select-option [value]=1>Psicólogo</ion-select-option>
          <ion-select-option [value]=2>Proprietário</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input required="true" [(ngModel)]="userForm.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CRP</ion-label>
        <ion-input required="true" [(ngModel)]="userForm.crp"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input required="true" [(ngModel)]="userForm.telefone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input required="true" [(ngModel)]="userForm.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input required="true" [(ngModel)]="userForm.password"></ion-input>
      </ion-item>
      
    </ion-toolbar>

    <ion-row>
      <ion-col>
        <ion-button class="btn" color="primary" expand="block" (click)="cadastrar()">Cadastrar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="btn" color="danger" expand="block" href="/login">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
