<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/user_circle.png">
    </ion-avatar>
    <ion-label>
      <h3 class="text-bold">{{user.name}}</h3>
      <p>{{user.email}}</p>
    </ion-label>
  </ion-item>

  <ion-list class="menu_list_perfil">
    <ion-item href="/aprovacao-reserva" *ngIf = "user.category == 2">
      <ion-icon slot="end" name="notifications-outline"></ion-icon>
      <ion-label>Pedidos de locação</ion-label>
    </ion-item>
    <ion-item button href="/cadastro">
      <ion-icon slot="end" name="create-outline"></ion-icon>
      <ion-label>Alterar cadastro</ion-label>
    </ion-item>
    <ion-item href="/login" class="text-red">
      <ion-icon slot="end" name="power-outline"></ion-icon>
      <ion-label (click)="logout()">Sair</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
