<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-title>Clínica</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-toolbar>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input required="true" [(ngModel)]="clinicaForm.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Bairro</ion-label>
        <ion-input required="true" [(ngModel)]="clinicaForm.neighborhood"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Endereço</ion-label>
        <ion-input required="true" [(ngModel)]="clinicaForm.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número</ion-label>
        <ion-input required="true" [(ngModel)]="clinicaForm.number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Complemento</ion-label>
        <ion-input [(ngModel)]="clinicaForm.compl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-select required="true" ok-text="Selecionar" cancel-text="Cancelar" (ionChange)="changeEstado()" [(ngModel)]="estadoSelecionado" >
          <ion-select-option [value]="estado" *ngFor="let estado of estados">{{estado.name}} </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="cidades.length > 0" >
        <ion-label position="floating">Cidade</ion-label>
        <ion-select required="true" [(ngModel)]="clinicaForm.cityUid" ok-text="Selecionar" cancel-text="Cancelar">
          <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.uid">{{cidade.name}} </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Ativo</ion-label>
        <ion-checkbox checked="true" [(ngModel)]="clinicaForm.isActive" required="true"></ion-checkbox>
      </ion-item>
    </ion-toolbar>

    <ion-row>
      <ion-col>
        <ion-button class="btn" color="primary" expand="block" (click)="salvarClinica()">Gravar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="btn" color="danger" expand="block" href="/tabs/tabCadastros">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>