<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tabPerfil"></ion-back-button>
      <ion-title>Aprovações pendentes</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-aprovacao-card 
  *ngFor="let schedule_item of schedules; let i = index" 
  [schedule]="schedule_item" 
  (confirmScheduleEvent)="confirmSchedule($event)"
  (cancelScheduleEvent)="cancelSchedule($event)"></app-aprovacao-card>
</ion-content>