<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-relatorio-card 
    name="Locações no período" 
    description="Veja quem locou os consultórios no período desejado"
    icon="document"></app-relatorio-card>

    <app-relatorio-card
    name="Faturamento no período" 
    description="Veja o faturamento de cada consultório"
    icon="logo-usd"></app-relatorio-card>

    <app-relatorio-card
    name="Meus agendamentos" 
    description="Veja os consultórios que você agendou horário"
    icon="calendar"></app-relatorio-card>
</ion-content>
