<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gerenciador de Clínicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="middle">
      <div class="inner">
        <div class="logo">
          <ion-img src="../../assets/logo.png"></ion-img>
        </div>
        <div class="formulario">
          <div class="inputs-form">
            <ion-item>
              <ion-label>E-mail</ion-label>
              <ion-input type="email" [(ngModel)]="userForm.email"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label>Senha</ion-label>
              <ion-input type="password" [(ngModel)]="userForm.password"></ion-input>
            </ion-item>
          </div>

          <ion-button class="btn" expand="block" (click)="login()">Entrar</ion-button>
			    <ion-button class="btn" fill="clear" expand="block" href="/cadastro">Cadastrar</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
