<ion-list >
  <ion-item button >
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    <ion-label>
      <h3 class="text-bold">Clínica 1</h3>
      <p>3 consultórios</p>
    </ion-label>
  </ion-item>
  <ion-item button >
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    <ion-label>
      <h3 class="text-bold">Clínica 2</h3>
      <p>1 consultórios</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="large" href="/clinica">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>