<ion-list *ngFor="let clinica of clinicas; let i = index">
  <ion-item button (click)="openFormClinica(i)">
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    <ion-label>
      <h3 class="text-bold">{{clinica.name}}</h3>
      <p>{{clinica.address}}, {{clinica.number}} - {{clinica.neighborhood}}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="large" href="/clinica">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>