<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Clínica</ion-label>
      <ion-select ok-text="Selecionar" cancel-text="Cancelar">
        <ion-select-option [value]="clinica.uid" *ngFor="let clinica of clinicas">{{clinica.name}} </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Consultório</ion-label>
      <ion-select ok-text="Selecionar" cancel-text="Cancelar">
        <ion-select-option [value]="consultorio.uid" *ngFor="let consultorio of consultorios">{{consultorio.name}} </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-button color="primary">Mensal</ion-button>
    <ion-button color="secondary">Semanal</ion-button>
    <ion-button color="primary">Diário</ion-button>
  </div>

  <div class="ion-padding">
    <ion-calendar [(ngModel)]="dateRange"
        [options]="optionsRange"
        [type]="type"
        [format]="DD-MM-YYYY">
    </ion-calendar>   
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="large" tab="reserva-consultorio" routerLink="/reserva-consultorio">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>