<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Clínica</ion-label>
      <ion-select value="clinica1" ok-text="Selecionar" cancel-text="Cancelar">
        <ion-select-option value="clinica1">Clínica 1</ion-select-option>
        <ion-select-option value="clinica2">Clínica 2</ion-select-option>
        <ion-select-option value="clinica3">Clínica 3</ion-select-option>
        <ion-select-option value="clinica4">Clínica 4</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Consultório</ion-label>
      <ion-select value="consultorio1" ok-text="Selecionar" cancel-text="Cancelar">
        <ion-select-option value="consultorio1">Consultório 1</ion-select-option>
        <ion-select-option value="consultorio2">Consultório 2</ion-select-option>
        <ion-select-option value="consultorio3">Consultório 3</ion-select-option>
        <ion-select-option value="consultorio4">Consultório 4</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-button color="primary">Mensal</ion-button>
    <ion-button color="secondary">Semanal</ion-button>
    <ion-button color="primary">Diário</ion-button>
  </div>

  <div class="ion-padding">
    <ion-calendar [(ngModel)]="dateRange"
        [options]="optionsRange"
        [type]="type"
        [format]="'YYYY-MM-DD'">
    </ion-calendar>   
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="large">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>