<ion-list *ngFor="let consultorio of rooms; let i = index">
  <ion-item button (click)="openFormConsultorio(i)">
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    <ion-label>
      <h3 class="text-bold">{{consultorio.name}}</h3>
      <p>{{consultorio.clinic.name}}</p>
      <p>Categoria: {{consultorio.category}}</p>
      <p [ngClass]="{'green-text':consultorio.isActive == true, 'red-text':consultorio.isActive == false}">{{consultorio.isActive == true ? 'Ativo': 'Inativo'}}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="large" href="/consultorio">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>