<ion-list >
  <ion-item button >
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    <ion-label>
      <h3 class="text-bold">Consultório A</h3>
      <p>Clínica 1</p>
    </ion-label>
  </ion-item>
  <ion-item button >
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    <ion-label>
      <h3 class="text-bold">Consultório B3</h3>
      <p>Clínica 1</p>
    </ion-label>
  </ion-item>
  <ion-item button >
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    <ion-label>
      <h3 class="text-bold">Consultório C</h3>
      <p>Clínica 1</p>
    </ion-label>
  </ion-item>
  <ion-item button >
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    <ion-label>
      <h3 class="text-bold">Consultório Lilás</h3>
      <p>Clínica 2</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="large" href="/consultorio">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>