<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-title>Novo Consultório</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-toolbar>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input required="true" [(ngModel)]="consultorioForm.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Clínica</ion-label>
        <ion-select ok-text="Selecionar" cancel-text="Cancelar" [(ngModel)]="consultorioForm.clinicUid">
          <ion-select-option [value]="clinica.uid" *ngFor="let clinica of clinicas">{{clinica.name}} </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea required="true" [(ngModel)]="consultorioForm.description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Categoria</ion-label>
        <ion-select required="true" ok-text="Selecionar" cancel-text="Cancelar" [(ngModel)]="consultorioForm.category">
          <ion-select-option [value]=2>Adulto</ion-select-option>
          <ion-select-option [value]=1>Infantil</ion-select-option>
          <ion-select-option [value]=3>Misto</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Valor da locação por hora</ion-label>
        <ion-input required="true" type="number" [(ngModel)]="consultorioForm.rental_price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ativo</ion-label>
        <ion-checkbox required="true" checked="true" [(ngModel)]="consultorioForm.isActive"></ion-checkbox>
      </ion-item>
    </ion-toolbar>

    <ion-row>
      <ion-col>
        <ion-button class="btn" color="primary" expand="block" (click)="salvarConsultorio()">Gravar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="btn" color="danger" expand="block" href="/tabs/tabCadastros">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>