<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Cadastros</ion-title>
  </ion-toolbar>
  <ion-toolbar class="tab-far-sub" color="light">
    <ion-tabs>
      <ion-tab-bar class="tab-bar" color="light" slot="top">
        <ion-tab-button layout="icon-start" (click)="clickTab()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Clínicas</ion-label>
        </ion-tab-button>
        <ion-tab-button layout="icon-start" (click)="clickTab()">
            <fa-icon icon="couch" size="2x"></fa-icon>
          <ion-label>Consultórios</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-list-clinicas *ngIf="visibleClinic" ></app-list-clinicas>
  <app-list-consultorios *ngIf="!visibleClinic"></app-list-consultorios>
</ion-content>
