<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
      <ion-title>Reserva de Consultório</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>Clínica</ion-label>
      <ion-select ok-text="Selecionar" cancel-text="Cancelar">
        <ion-select-option [value]="clinica.uid" *ngFor="let clinica of clinicas">{{clinica.name}} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Consultório</ion-label>
      <ion-select ok-text="Selecionar" cancel-text="Cancelar">
        <ion-select-option [value]="consultorio.uid" *ngFor="let consultorio of consultorios">{{consultorio.name}} </ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime display-timezone="utc" value="2020-06-30" displayFormat="DD/MM/YYYY" done-text="Selecionar" cancel-text="Cancelar"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Hora inicial</ion-label>
    <ion-datetime displayFormat="HH:mm" cancel-text="Cancelar" done-text="Selecionar"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Hora final</ion-label>
    <ion-datetime displayFormat="HH:mm" cancel-text="Cancelar" done-text="Selecionar"></ion-datetime>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-button expand="block" color="success">Salvar</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button expand="block" color="danger">Desmarcar reserva</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
